body, #root, .App {
  min-height: 100vh;
}
body i {
  font-family:'FontAwesome';
  font-style: normal;
  }
.App {
  display: flex;
  flex-flow: column;
}
footer {
  margin-top: auto;
}

.bg-img {
  background-image: url("./images/programming.jpg");
  background-size: cover;
  background-position: center bottom;
}