:root {
  /* Handles the color scheme of the website */
  --primary: #535bc5;
  --primary-alt: #050650;
  /* Handles the font colors of the entire website */
  --primary-font: #ffffff;
  --secondary-font: #ddd;
}

body,
#root,
.App {
  min-height: 100vh;
}
body i {
  font-family: "FontAwesome";
  font-style: normal;
}
.App {
  display: flex;
  flex-flow: column;
}
footer {
  margin-top: auto;
}

.bg-img {
  background-image: url("./images/programming.jpg");
  background-size: cover;
  background-position: center bottom;
}

.header {
  /* background-image: linear-gradient(
    to bottom right,
    var(--primary),
    var(--primary-alt)
  ); */
  background-color: var(--primary);
}
#title{
  color: var(--primary-font);
}
#subtitle{
  color: var(--secondary-font);
}
.navbar {
  background-color: var(--primary-alt);
  color: var(--primary-font);
}
.btn {
  display: block;
  background-color: var(--primary-alt);
  color: var(--primary-font);
  /* This gave the buttons a shadow and combined with the on hover, would make button appear to pop out. */
  /* box-shadow: 0 5px 9px rgba(57, 57, 57, 0.4);
  transform: translateY(0);
  transition: 0.5s all ease; */
}
/* .btn:hover {
  transform: translateY(-3px);
  box-shadow: 6px 6px 10px rgba(57, 57, 57, 0.7);
} */
.footer {
  /* background-image: linear-gradient(
    to bottom right,
    var(--primary),
    var(--primary-alt)
  ); */
  background-color: var(--primary);
  color: var(--primary-font);
  text-align: center;
}
.welcomeTitle{
  color: var(--primary-font);
}
.welcomeSubtitle{
  color: var(--secondary-font);
}
